doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Rajmala Gram Udyog Sansthan
  link(rel='stylesheet' href='../stactic/about.css')
header
  nav
    ul
      li.top-bar-link
        a(href='/' target='_main') Home
      li.top-bar-link
        a(href='/about' target='_main') About
      li.top-bar-link
        a(href='/contact' target='_main') Contact Us
      h1.title-top Rajmala Gram Udyog Sansthan
