<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajmala Gram Udyog Sansthan</title>
    <link rel="shortcut icon" href="https://th.bing.com/th/id/OIP.OxDtj7YKw2eyyrOJrG--EAHaHa?pid=ImgDet&rs=1" type="image/x-icon">
    <link rel="stylesheet" href="../static/index_1.css">
    <link rel="stylesheet" media="screen and (max-width: 970px)" href="../static/index_1_res.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <img src="https://th.bing.com/th/id/OIP.OxDtj7YKw2eyyrOJrG--EAHaHa?pid=ImgDet&rs=1" alt="Rajmala Gram Udyog Sansthan" class="logo">
          <span class="glyphicon glyphicon-option-vertical"></span>
          <li class="top-bars-links"><a href="/" target="_main">Home</a></li>
          <li class="top-bars-links"><a href="/about" target="_main">About</a></li>
          <li class="top-bars-links"><a href="/contact" target="_main">Contact Us</a></li>
          <h1 class="title-top">Rajmala Gram Udyog Sanstha</h1>
        </ul>
      </nav>
    </header>
    <main class="main_1">
      <section>
        <h1 class="title-heading">Rjamala Gram Udyog Sansthan</h1>
        <h2 class="title-dis">Be Fresh Be Nutritious Be Healthy Tasty</h2>
      </section>
    </main>
  </body>
  <main class="buying-section">
    <div class="pickles-about">
      <h1 class="pickles-info" id="heading-pickle-info">About Pickle</h1>
      <p class="detail-pickle">This Shop is owned by Krishna Kumar Gupta and Prahalad Kumar Gupta. We are doing this since 1987. We make Fresh and Healthy Pickles for you. Our pickles are not touched by hands ; Hence, it is Hence Healthy. Our Pickles range is vary and very high. For ordering out of town name Bharatpur you want to contact on +91 9460291807 or +91 9413243465 . We are coming online soon for dilevey all over India . We are trying to walk with tech . Our visiting palce is Ambedkar park,Bayana-Jaipur Mega Highway. Timing -8:00 AM to 9:00PM 5+Gst(ist indian time unit)</p>

    </div>
    <main class="main_3">
      <div class="buying-pickle">
        <h1 class="pickles-buying-heading">Our Pickles Ranges</h1>
      </div>






      <div class="sweet-pickle">
        <div class="sweet-pickle-heading">
          <h1 class="sweet-heading">Sweet Pickles</h1>
        </div>


        <hr class="sweet-hr">

        <div class="sweet-items">
            <div class="sweet-lemon-pickle-full">
              <div class="lemon-pickle-heading-short-info">
                <h1 class="lemon-pickle-name">Sweet Lemon Pickle</h1>
                <h2 class="lemon-pickle-quantity">2kg</h2>
                <h2 class="lemon-pickle-rate">Price :- 200rs</h2>
                 </div>
                <div class="sweet-lemon-pickle-img">
                <img src="https://i2.wp.com/www.recipewisdom.com/wp-content/uploads/2018/11/Mysore-lemon-pickle-recipe.gif?resize=702%2C767" alt="Lemon Pickle" class="lemon-pickle-img-real">
              </div>
            </div>



            <div class="sweet-mango-pickle">
              <div class="mango-pickle-info">
                <h1 class="mango-pickle-name">Sweet Mango Pickle</h1>
                <h2 class="mango-pickle-rate">400rs</h2>
              </div>
              <div class="mango-pickle-imgage">
                <img src="https://www.bing.com/th?id=AMMS_262a1b9d6413b327e90e2868072ec598&w=612&h=392&c=7&rs=1&qlt=80&o=6&cdv=1&dpr=1.25&pid=16.1" alt="Mango Pickle" class="mango-pickle-image-real">
              </div>
            </div>


            

            <div class="michci-full">
              <div class="michci-info">
                <h1 class="mirchi-name">Sweet Mirchi Pickle</h1>
                <h2 class="michci-rate">Rate :- 100rs/kg</h2>
              </div>
              <div class="mirchi-img">
                <img src="https://www.bing.com/th?id=AMMS_262a1b9d6413b327e90e2868072ec598&w=612&h=392&c=7&rs=1&qlt=80&o=6&cdv=1&dpr=1.25&pid=16.1" alt="michi pickle" class="mirchi-img-2">
              </div>
            </div>




        </div>
      </div>
    </main>
  </main>







  <!-- footer here  -->
  <footer class="end-footer">
    <h1 class="footer-info">Copyright@Rajmala Gram Udyog Sansthan</h1>
  </footer>
</html>